@use "modules/global" as *;

@use "modules/navbar";

@use "modules/font-style";

html, body{
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
}

main{
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: 768px){
        padding-left: 40px;
        padding-right: 40px;
    }

}

#main-hero{
    background-color: $main-background;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 768px){
        grid-template-columns: 1fr 1fr;
        padding-left: 40px;
        padding-right: 40px;
    }

    align-items: center;
    justify-items: center;
    grid-gap: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    min-height: calc(100vh - 55px);
}


.hero-main-button{
    @include primary-a-button-style;
    font-size: 0.9em;

    @media screen and (min-width: 768px){
        font-size: 1.1em;
    }

}

.hero-second-button{
    cursor: pointer;
	display: grid;
    align-items: center;
	border-radius: $border-radius;
	padding: 12px;

    font-size: 0.9em;

    @media screen and (min-width: 768px){
        font-size: 1.1em;
    }

    & > a{
        @include remove-link-style;
    }
    background: transparent;
    border: 2px solid $primary-button-color;

    &:hover {
        background: darken($color: $primary-button-color, $amount: 5%);
        border: 2px solid transparent;
    }
    &:active {
        background: darken($color: $primary-button-color, $amount: 10%);
        border: 2px solid transparent;
    }
}

#main-hero-events{
    border-radius: $border-radius;
    background: rgba(255, 255, 255, 0.466);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 75%;
}

#main-area{
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-navbar{
    @include primary-a-button-style;
    display: inline-block;
    font-size: 1em;
    padding: 8px;
	padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);



}

.about-us-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

    & > div{
        border-radius: $border-radius;
        border: 1px solid #c5c5c5;
        padding: 10px;
        padding-left: 25px;
        padding-right: 25px;
    }

    @media screen and (max-width: 768px){
        grid-template-columns: 1fr;
    }

}

.main-hero-events-header{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 15px;

    & > h2{
        margin: 0px;
    }

}




#join-main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;

    @media screen and (min-width: 768px){
        grid-template-columns: 1fr 1fr;
    }

}

#events h2{
    text-align: center;
}

#gape-poster{
    max-height: 568px !important;
    max-width: 399px !important;
    width: 100%;
    height: 568px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main-hero-events{
    display: grid;
    justify-items: center;
    grid-gap: 20px;
}