@use "global" as *;

.background-dim-no-click{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.562);
    display: none;
}

#navbar-mobile{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 55px;
    background: $main-background;
}

#navbar-mobile button{
    border: none;
    background: none;
}

#site-branding-mobile{
    font-size: 1.3em;
}

#navbar-desktop{
    display: none;
}

#side-mobile-navbar{
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding-left: 5px;
    padding-top: 15px;
    transform: translateX(-105%);
    transition: transform 0.3s ease-in-out;
    z-index: 10;
}


#side-mobile-navbar button{
    @include remove-button-style;
}

#side-mobile-navbar a{
    padding-left: 15px;
    display: block;
    padding-top: 20px;
    color: $black-text;
    text-decoration: none;
    font-size: 1.3em;
}

#side-mobile-navbar .contact-navbar{
    margin-left: 15px;
    margin-top: 20px;
}

#side-mobile-navbar #contact-side-navbar{
    padding: 2px;
}

.side-mobile-navbar-transition{
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
}

@media screen and (min-width: 768px){
    #navbar-mobile{
        display: none;
    }
    #navbar-desktop{
        display: grid;
        grid-template-columns: max-content 1fr max-content;
        align-items: center;
        height: 55px;
        background: $main-background;
    }   
    #navbar-desktop button{
        border: none;
        background: none;
        padding-left: 10px;
    }
    .navbar-desktop-links{
        justify-self: end;
        padding-right: 30px;
    }
    #logo-desktop-navbar{
        padding-left: 40px;
    }
    .navbar-desktop-links a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 1.2em;
        padding-left: 10px;
        padding-right: 10px;
    }
    #navbar-desktop-main-button{
        display: inline-block;
    }
}

#footer{
    background-color: $main-background;
    align-items: center;
    text-align: center;
    height: 140px;
    color: $black-text;
}
